---
import type { NavbarItem } from "@/types/NavbarItem";
import PictureResponsive from "@/components/shared/PictureResponsive.astro";
import { BreakPoints } from "@/types/BreakPoints";
import NavbarDesktop from "./NavbarDesktop.astro";
import ContactNavItem from "./ContactNavItem.astro";
import NavbarMobile from "@/components/client/navbar/NavbarMobile";

interface Props {
  logoClassName?: string;
  className?: string;
  useDarkMode?: boolean;
}

const { BASE_URL } = import.meta.env;
const { className = "", useDarkMode = false, logoClassName = "" } = Astro.props;
const currentPath = Astro.url.pathname;

const navItems: NavbarItem[] = [
  { name: "Inicio", href: `${BASE_URL}` },
  { name: "Nosotros", href: `${BASE_URL}about/` },
  {
    name: "Con cada paso soy más yo",
    children: [
      {
        name: "Con cada paso soy más yo",
        href: `${BASE_URL}becoming-more-myself/mini-documentary/`,
      },
      {
        name: "Testimonios",
        href: `${BASE_URL}becoming-more-myself/testimonials/`,
      },
      {
        name: "Siente el ritmo",
        href: `${BASE_URL}becoming-more-myself/feel-the-rhythm/`,
      },
      {
        name: "Únete al reto",
        href: `${BASE_URL}becoming-more-myself/join-the-challenge/`,
      },
    ],
  },
  {
    name: "Contacto",
    href: `${BASE_URL}contact/`,
    component: ContactNavItem,
  },
];

const baseClass = `
  w-full flex justify-between items-center
  h-[var(--h-navbar-mobile)] lg:h-[var(--h-navbar)]
  px-5 xl:px-10 2xl:px-20
  shadow-md
`;
const darkLogo = "/shared/logo-dark.webp";
const logo = "/shared/logo.webp";
const sources = useDarkMode ? [darkLogo, logo] : [logo];
const breakpoints = useDarkMode ? [BreakPoints.LG] : [];
---

<nav class={`${baseClass} ${className}`}>
  <a href={BASE_URL} class={`h-full ${logoClassName}`}>
    <PictureResponsive
      sources={sources}
      breakpoints={breakpoints}
      alt="Mika logo"
      classPicture="flex items-center h-full"
      classImage="w-auto h-[80%]"
    />
  </a>

  <NavbarDesktop navItems={navItems} currentPath={currentPath} />

  <NavbarMobile
    client:load
    items={navItems}
    currentPath={currentPath}
    useDarkMode={useDarkMode}
  />
</nav>
