---
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  class?: string;
}

const {
  title = "Mika - Beauty Salon",
  description = "Salón de belleza y cuidado personal",
  class: bodyClass = "",
} = Astro.props;

const { BASE_URL } = import.meta.env;
---

<!doctype html>
<html lang="es-PE">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="icon" href=`${BASE_URL}images/favicon.ico` type="image/x-icon" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_PE" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class={`min-h-[100dvh] min-w-screen antialiased ${bodyClass} `}>
    <slot />
  </body>
</html>
