---
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  class?: string;
}

const {
  title = "Mika - Beauty Salon",
  description = "Salón de belleza en Lima especializado en tratamientos capilares y cuidado personal.",
  class: bodyClass = "",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_PE" />
  </head>
  <body class={`min-h-[100dvh] min-w-screen antialiased ${bodyClass} `}>
    <slot />
  </body>
</html>
